body {
  background-color: #0a3d62;
  color: #fff
}

.header {
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #1a879665;
}

.boarder {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  background-color: #82ccdd;
  box-shadow: 5px 5px 30px 10px #031d30;
}

.column {
  flex-basis: 15%;
  min-height: 400px;
}

.column__limit {
  text-align: center;
  color: #fff;
  margin-bottom: 10px
}

.column__header {
  text-align: center;
  margin: 0 auto;
  height: 50px;
  color: #0a3d62;
}

.column__class-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dde747;
  box-shadow: 4px 4px 3px #1980ca;
  margin-top: 20px;
  padding: 8px;
  color: black;
  width: 100%;
  height: 110px;
}

.task__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px
}

.task--button {
  background-color: #1a8796;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 2px 0;
  width: 25px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.task__next--none, .task__previous--none {
  visibility: hidden;
}

.form__box {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px auto;
  width: 70%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 350px;
  margin-top: 10px
}

.form__input {
  width: 100%;
  margin-top: 5px;
  font-size: 18px;
  padding: 3px;
  border-radius: 5px;
}

.form__input--button {
  text-transform: uppercase;
  background-color: #dde747;
  letter-spacing: 1px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.form__errors {
  align-self: center;
  padding: 0;
  list-style: none;
  color: red
}

@media(max-width: 1100px) {
  .boarder {
    max-width: 95%;
    padding: 20px;
    gap: 10px
  }

  .column__header {
    font-size: 15px;
    word-break: break-word;
  }

  .task {
    font-size: 14px;
    margin-top: 10px;
  }

  .form__label {
    width: 300px
  }
}

@media(max-width: 900px) {
  .column__header {
    font-size: 12px
  }

  .task {
    padding: 0px;
    font-size: 12px;
  }

  .form__box {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .task--button {
    padding: 2px;
    width: 15px;
    font-size: 10px;

  }
}