body {
  background-color: #0a3d62;
  color: #fff
}

.header {
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #1a879665;
}

.boarder {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  width: 90%;
  margin: 30px auto;
  padding: 30px;
  background-color: #82ccdd;
  box-shadow: 5px 5px 30px 10px #031d30;
}

.column {
  flex-basis: 15%;
  min-height: 400px;
}

.column__limit {
  text-align: center;
  color: #fff;
  margin-bottom: 10px
}

.column__header {
  text-align: center;
  margin: 0 auto;
  height: 50px;
  color: #0a3d62;
  word-break: break-word;
  font-size: 12px
}

.column__class-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2fa89;
  box-shadow: 4px 4px 3px #1980ca;
  margin-top: 20px;
  color: black;
  width: 100%;
  height: 110px;
  padding: 0px;
  font-size: 12px;
}

.task__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px
}

.task--button {
  background-color: #1a8796;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
  width: 15px;
  font-size: 10px;
  transition: 0.3s;
}

.task--button:hover {
  background-color: #0b636e;
}

.task__next--none, .task__previous--none {
  visibility: hidden;
}

.form__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 300px;
  margin-top: 10px
}

.form__input {
  width: 100%;
  margin-top: 5px;
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
}

.form__input--button {
  text-transform: uppercase;
  background-color: #f2fa89;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.form__errors {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  color: red
}

.popup__box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f3c52;
  box-shadow: 2px 2px 10px #031d30;
  height: 200px;
  color: white
}

.popup__error {
  padding: 10px;
  text-align: center;
}

.popup__exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  background-color: white;
  color: #09263b;
}

.popup__exit:hover {
  background-color: rgb(189, 189, 189);
}

.navigate__button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.navigate__button:hover {
  background-color: grey
}

@media(min-width: 900px) {
  .column__header {
    font-size: 14px
  }

  .task {
    padding: 8px;
    font-size: 14px;
  }

  .task--button {
    padding: 2px;
    width: 20px;
    font-size: 12px;
  }

  .form__box {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
  }

  .form__label {
    font-size: 16px;
    width: 400px;
  }

  .form__input {
    font-size: 14px;
    padding: 4px;
  }

  .form__input--button {
    margin-top: 20px;
    font-size: 16px;
  }

  .form__errors {
    margin-bottom: 0;
    font-size: 16px;
  }

  .popup__error {
    font-size: 18px;
  }
}

@media(min-width: 1100px) {
  .boarder {
    max-width: 1200px;
    padding: 20px;
  }

  .column__header {
    margin: 20px auto;
    font-size: 18px;
  }

  .column__limit {
    font-size: 26px;
  }

  .task {
    font-size: 18px;
    margin-top: 20px;
    height: 140px;
  }

  .task--button {
    padding: 4px;
    width: 25px;
    font-size: 14px;
  }

  .form__box {
    gap: 50px
  }

  .form__label {
    margin-top: 15px;
    font-size: 20px;
  }

  .form__input {
    padding: 6px;
  }

  .form__input--button {
    margin-top: 20px;
    padding: 6px;
    font-size: 20px;
  }

  .form__errors {
    margin-bottom: 0;
    font-size: 18px;
  }
}