body {
  background-color: white;
  color: black
}

.header {
  line-height: 70px;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 400;
  background-color: white;
  color: #111;
  box-shadow: 1px 1px 5px #aaa;
}

.board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: rgb(215, 239, 248);
  box-shadow: 1px 1px 5px #aaa;
  border-radius: 15px;
}

.column {
  flex-basis: 48%;
  margin-bottom: 20px;
}

.column__header {
  text-align: center;
  margin: auto 5px;
  color: #0a3d62;
  font-size: 0.9rem;
  font-weight: 400;

}

.column__limit {
  text-align: center;
  color: #aaa;
  margin-bottom: 20px;
  font-size: 12px;
}

.column__class-list {
  list-style: none;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
  padding: 15px;
  box-shadow: 1px 1px 5px #aaa;
  background-color: white;
  margin-top: 10px;
  color: black;
  font-size: 12px;
  border-radius: 15px;
}

.task__name, .task__user {
  padding: 5px 0;
  font-size: 0.7rem;
  font-weight: 400;
}

.task__user {
  text-align: right;
  padding-top: 10px;
}

.task__description {
  font-weight: lighter;
  color: #686767;
  font-size: 0.6rem;
}

.task__priority {
  padding: 2px 4px;
  text-align: center;
  font-size: 0.7rem;
  font-weight: lighter;
  border-radius: 5px;
}

.task__priority--low {
  background-color: rgba(81, 195, 224, 0.767);
}

.task__priority--medium {
  background-color: rgb(240, 213, 123);
}

.task__priority--high {
  background-color: rgba(255, 4, 4, 0.527);
}

.task__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
}

.task--button {
  background-color: transparent;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 20px;
  transition: 0.3s;
}

.task--button:hover {
  background-color: #e4fafd;
}

.task__next--none, .task__previous--none {
  visibility: hidden;
}

.form__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: fixed;
  top: -370px;
  width: 100%;
  margin: 0 auto 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 5px #aaa;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.form__box--active {
  top: 0
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 10px auto 0;
  font-size: 12px;
  color: #222;
  letter-spacing: 1px;
}

.form__input {
  width: 100%;
  margin-top: 5px;
  font-size: 12px;
  padding: 3px;
  border-radius: 15px;
  border: 1px solid rgb(175, 183, 187);
}

.form__input--button {
  margin: 20px;
  background-color: rgb(0, 162, 255);
  border: none;
  letter-spacing: 1px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.form__input--button:hover {
  background-color: rgb(200, 231, 243);
}

.form__input--button:hover {
  background-color: rgb(200, 231, 243);
}

.form__errors {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  color: red
}

.form__button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.popup__box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(2, 0, 0, 0.336);
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 2px 2px 10px #797979;
  border-radius: 15px;
  height: 180px;
  color: rgb(77, 76, 76)
}

.popup__message {
  padding: 20px;
  text-align: center;
}

.popup__buttons {
  display: flex;
  gap: 40px;
}

.popup__button {
  width: 60px;
  padding: 5px;
  border: 1px solid rgb(138, 138, 138);
  border-radius: 20px;
  color: rgb(77, 76, 76);
  cursor: pointer;
}

.popup__button:hover {
  background-color: rgb(231, 228, 228)
}

.popup__exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  border: none;
  color: rgb(146, 144, 144)
}

.popup__exit:hover {
  color: rgb(43, 43, 43);
  background-color: transparent;
}

.navigate__button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.navigate__button:hover {
  background-color: grey
}

.button--add-task {
  position: fixed;
  width: 60px;
  padding: 5px 10px;
  right: 10px;
  top: 20px;
  border: none;
  border-radius: 13px;
  color: white;
  background-color: rgb(1, 167, 233);
  font-size: 0.7rem;
}

@media(min-width: 600px) {
  .board {
    flex-wrap: nowrap;
    gap: 10px;
    padding: 20px;
  }

  .header {
    font-size: 1.8rem;
    letter-spacing: 6px;
  }

  .column {
    flex-basis: 25%;
    min-height: 400px;
  }

  .column__header {
    font-size: 14px
  }

  .task {
    margin-top: 10px;
    padding: 8px;
    font-size: 14px;
  }

  .task__name, .task__user {
    padding: 5px 0;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .task__user {
    text-align: right;
    padding-top: 10px;
  }

  .task__description {
    font-weight: lighter;
    font-size: 0.7rem;
  }

  .task__priority {
    padding: 2px 4px;
    font-size: 0.7rem;
  }

  .task--button {
    width: 22px;
    font-size: 1rem;
  }

  .form__box {
    max-width: 600px;
    top: -500px;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
    border-radius: 15px;
  }

  .form__box--active {
    top: 0;
  }

  .form {
    margin: 40px 0;
    gap: 20px
  }

  .form__label {
    font-size: 0.8rem;
    max-width: 300px;
    margin: 0 auto;
  }

  .form__input {
    font-size: 0.8rem;
    padding: 4px;
  }

  .form__input--button {
    margin-top: 20px;
    font-size: 0.8rem;
    padding: 5px;
  }

  .form__errors {
    margin-bottom: 0;
    font-size: 16px;
  }

  .form__button {
    top: 25px;
    right: 25px;
  }

  .popup__error {
    font-size: 18px;
  }

  .button--add-task {
    width: 120px;
    padding: 7px 20px;
    right: 50px;
    top: 20px;
    font-size: 0.8rem;
  }
}

@media(min-width: 1100px) {
  .header {
    line-height: 90px;
    font-size: 2.2rem;
  }

  .board {
    max-width: 1200px;
    margin-top: 30px;
    padding: 20px;
    gap: 30px;
  }

  .column__header {
    margin: 0 auto;
    font-size: 1rem;
  }

  .column__limit {
    font-size: 0.9rem;
  }

  .task {
    padding: 15px;
    margin-top: 20px;
    min-height: 140px;
  }

  .task__name, .task__user {
    padding: 10px 0;
    font-size: 0.9rem;
  }

  .task__description {
    font-size: 0.8rem;
  }

  .task__priority {
    padding: 3px 5px;
    font-size: 0.7rem;
  }

  .task--button {
    padding: 2px;
    width: 25px;
    font-size: 1.2rem;
  }

  .form__box {
    top: -650px;
    top:0
  }

  .form__label {
    font-size: 1rem;
  }

  .form__input {
    padding: 6px;
  }

  .form__input--button {
    margin-top: 20px;
    padding: 6px;
    font-size: 1rem;
  }

  .form__errors {
    margin-bottom: 0;
    font-size: 18px;
  }

  .button--add-task {
    width: 180px;
    padding: 10px 30px;
    right: 50px;
    top: 30px;
    font-size: 0.9rem;
    border-radius: 20px;
  }
}