:root {
  --body_background: rgb(255, 255, 255);
  --body_color: rgb(17, 17, 17);
  --board_background: rgb(215, 246, 255);
  --header_background: rgb(255, 255, 255);
  --task_background: rgb(255, 255, 255);
  --theme_background: rgb(156, 234, 248);
  --box-shadow-color: rgb(204, 204, 204);
  --font-size-mobile-small: 1rem;
  --font-size-mobile-medium: 1.2rem;
  --font-size-mobile-large: 2rem;
  --font-size-tablet-small: 1.1rem;
  --font-size-tablet-medium: 1.3rem;
  --font-size-tablet-large: 2.2rem;
  --font-size-desktop-small: 1.3rem;
  --font-size-desktop-medium: 1.4rem;
  --font-size-desktop-large: 2.4rem;
}

[data-theme='dark'] {
  --body_background: rgb(17, 17, 17);
  --body_color: rgba(255, 255, 255, 0.89);
  --board_background: rgb(17, 55, 87);
  --header_background: rgb(56, 56, 56);
  --task_background: rgb(56, 56, 56);
  --theme_background: rgb(124, 123, 123);
  --box-shadow-color: rgb(37, 37, 37);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background-color: var(--body_background);
  color: var(--body_color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header {
  line-height: 70px;
  font-size: var(--font-size-mobile-large);
  text-align: center;
  letter-spacing: 3px;
  font-weight: 400;
  background-color: var(--header_background);
  color: var(--body_color);
  box-shadow: 1px 1px 5px var(--box-shadow-color);
}

.board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  margin: 30px auto;
  padding: 10px 20px;
  background-color: var(--board_background);
  box-shadow: 1px 1px 5px var(--box-shadow-color);
  border-radius: 15px;
}

.column {
  flex-basis: 48%;
  margin-bottom: 20px;
}

.column__header {
  text-align: center;
  margin: auto 5px;
  color: var(--body_color);
  font-size: var(--font-size-mobile-medium);
  font-weight: 400;
}

.column__limit {
  text-align: center;
  color: #aaa;
  margin-bottom: 20px;
  font-size: var(--font-size-mobile-medium);
}

.column__class-list {
  list-style: none;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
  padding: 15px;
  box-shadow: 1px 1px 5px var(--box-shadow-color);
  background-color: var(--task_background);
  margin-top: 10px;
  color: var(--body_color);
  border-radius: 15px;
}

.task__name, .task__user {
  padding: 5px 0;
  font-size: var(--font-size-mobile-medium);
  font-weight: 400;
}

.task__user {
  text-align: right;
  padding-top: 10px;
}

.task__description {
  margin: 10px 0;
  color: rgb(153, 153, 153);
  font-size: var(--font-size-mobile-small);
}

.task__priority {
  padding: 2px 4px;
  text-align: center;
  font-size: var(--font-size-mobile-small);
  border-radius: 10px;
}

.task__priority--low {
  background-color: rgba(81, 195, 224, 0.767);
}

.task__priority--medium {
  background-color: rgb(85, 206, 111);
}

.task__priority--high {
  background-color: rgba(255, 4, 4, 0.527);
}

.task__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
}

.task--button {
  background-color: transparent;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: var(--font-size-mobile-medium);
  cursor: pointer;
  width: 20px;
  transition: 0.3s;
}

.task--button:hover {
  color: white;
  background-color: rgb(0, 162, 255);
  border: 1px solid rgb(0, 162, 255);
}

.task__next--none, .task__previous--none {
  visibility: hidden;
}

.form__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: fixed;
  top: -480px;
  right: 0;
  width: 100%;
  padding: 20px 20px 50px;
  background-color: var(--body_background);
  box-shadow: 1px 1px 5px var(--box-shadow-color);
  z-index: 1;
  transition: 0.2s ease-in-out;
}

.form__box--active {
  top: 0
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 10px auto 0;
  font-size: var(--font-size-mobile-medium);
  color: var(--body_color);
  letter-spacing: 1px;
}

.form__input {
  width: 100%;
  margin-top: 5px;
  font-size: var(--font-size-mobile-small);
  padding: 3px;
  color: var(--body_color);
  border-radius: 15px;
  border: 1px solid rgb(175, 183, 187);
  background-color: var(--body_background);
}

.form__input--error {
  border-color: red;
}

.form__input--button {
  width: 100%;
  max-width: 300px;
  margin: 20px auto 0;
  padding: 6px;
  background-color: rgb(0, 162, 255);
  border: none;
  letter-spacing: 1px;
  font-size: var(--font-size-mobile-medium);
  color: white;
  cursor: pointer;
}

.form__input--button:hover {
  background-color: rgb(1, 156, 218);
}

.form__errors {
  padding: 0;
  font-size: var(--font-size-mobile-small);
  list-style: none;
  color: red
}

.form__button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.popup__box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(75, 75, 75, 0.822);
  z-index: 1
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--body_background);
  box-shadow: 2px 2px 10px var(--box-shadow-color);
  border-radius: 15px;
  height: 180px;
  color: var(--body_color);
}

.popup__message {
  padding: 20px;
  text-align: center;
  font-size: var(--font-size-mobile-medium);
}

.popup__buttons {
  display: flex;
  gap: 40px;
}

.popup__button {
  width: 60px;
  padding: 5px;
  border: 1px solid rgb(138, 138, 138);
  background-color: transparent;
  border-radius: 20px;
  color: var(--body_color);
  cursor: pointer;
}

.popup__button:hover {
  color: white;
  background-color: rgb(1, 156, 218);
  border: 1px solid rgb(1, 156, 218);
}

.popup__exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  color: rgb(146, 144, 144)
}

.navigate__button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.navigate__button:hover {
  background-color: grey
}

.button--add-task {
  position: fixed;
  width: 44px;
  padding: 5px 3px;
  right: 10px;
  top: 20px;
  border: none;
  border-radius: 13px;
  color: white;
  background-color: rgb(1, 167, 233);
  font-size: var(--font-size-mobile-small);
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 0;
}

.button--add-task:hover {
  background-color: rgb(1, 156, 218);
}

.dark_mode {
  position: fixed;
  left: -10px;
  top: 13px;
  z-index: 0;
  transform: rotate(-90deg);
}

.dark_mode__label {
  width: 55px;
  height: 30px;
  position: relative;
  display: block;
  background: var(--theme_background);
  border-radius: 200px;
  cursor: pointer;
  transition: 0.5s;
}

.dark_mode__label:after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 4px;
  left: 5px;
  background: linear-gradient(180deg, #ffcc89, #e9c913);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.dark_mode__input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark_mode__input:checked+.dark_mode__label:after {
  left: 50px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #616161, #3a3a3a);
}

.dark_mode__label:active:after {
  width: 45px;
}

.dark_mode__label svg {
  position: absolute;
  width: 15px;
  top: 8px;
  z-index: 100;
  transform: rotate(90deg);
}

.dark_mode__label svg.sun {
  left: 8px;
  fill: #757575;
  transition: 0.5s;
}

.dark_mode__label svg.moon {
  left: 32px;
  fill: #0000005b;
  transition: 0.5s;
}

.dark_mode__input:checked+.dark_mode__label svg.sun {
  fill: white;
}

.dark_mode__input:checked+.dark_mode__label svg.moon {
  fill: #fff;
}

@media(min-width: 600px) {
  .board {
    flex-wrap: nowrap;
    gap: 10px;
    padding: 20px;
  }

  .header {
    font-size: var(--font-size-tablet-large);
    letter-spacing: 6px;
  }

  .column {
    flex-basis: 25%;
    min-height: 400px;
  }

  .column__header {
    font-size: var(--font-size-tablet-medium);
  }

  .task {
    margin-top: 10px;
    padding: 8px;
  }

  .task__name, .task__user {
    padding: 5px 0;
    font-size: var(--font-size-tablet-medium);
    font-weight: 400;
  }

  .task__user {
    text-align: right;
    padding-top: 10px;
  }

  .task__description {
    font-size: var(--font-size-tablet-small);
  }

  .task__priority {
    margin: 5px 0;
    padding: 3px 4px;
  }

  .task__buttons {
    margin: 10px 0 5px
  }

  .task--button {
    width: 22px;
    font-size: var(--font-size-tablet-medium);
  }

  .form__box {
    max-width: 600px;
    top: -550px;
    right: 0;
    justify-content: center;
    border-radius: 15px;
  }

  .form__box--active {
    top: 0;
  }

  .form {
    margin-top: 40px;
    gap: 20px
  }

  .form__label {
    font-size: var(--font-size-tablet-medium);
    max-width: 300px;
    margin: 0 auto;
  }

  .form__input {
    font-size: var(--font-size-tablet-small);
    padding: 4px;
  }

  .form__input--button {
    font-size: var(--font-size-tablet-medium);
    padding: 5px;
  }

  .form__errors {
    font-size: var(--font-size-tablet-small);
  }

  .form__button {
    top: 25px;
    right: 25px;
  }

  .popup__message {
    font-size: var(--font-size-tablet-medium);
  }

  .popup__button {
    font-size: var(--font-size-tablet-small);
  }

  .button--add-task {
    padding: 10px 30px;
    width: 130px;
    border-radius: 20px;
    right: 30px;
    top: 20px;
    font-size: var(--font-size-tablet-small);
  }

  .dark_mode {
    transform: rotate(0deg);
    left: 30px;
    top: 2px;
  }

  .dark_mode__label {
    width: 75px;
    height: 36px;
  }

  .dark_mode__label:after {
    width: 30px;
    height: 30px;
    top: 3px;
    left: 3px;
  }

  .dark_mode__input:checked+.dark_mode__label:after {
    left: 71px;
  }

  .dark_mode__label:active:after {
    width: 70px;
  }

  .dark_mode__label svg {
    width: 20px;
    top: 8px;
    transform: rotate(0);
  }

  .dark_mode__label svg.sun {
    left: 8px;
  }

  .dark_mode__label svg.moon {
    left: 45px;
  }
}

@media(min-width: 1100px) {
  .header {
    line-height: 90px;
    font-size: var(--font-size-desktop-large);
  }

  .board {
    max-width: 1200px;
    margin-top: 30px;
    padding: 20px;
    gap: 30px;
  }

  .column__header {
    margin: 0 auto;
    font-size: var(--font-size-desktop-medium);
  }

  .column__limit {
    font-size: var(--font-size-desktop-small);
  }

  .task {
    padding: 15px;
    margin-top: 20px;
    min-height: 140px;
  }

  .task__name, .task__user {
    padding: 10px 0;
    font-size: var(--font-size-desktop-medium);
  }

  .task__description {
    font-size: var(--font-size-desktop-small);
  }

  .task__priority {
    padding: 3px 5px;
    font-size: var(--font-size-desktop-small);
  }

  .task--button {
    padding: 2px;
    width: 25px;
    font-size: var(--font-size-desktop-medium);
  }

  .form__box {
    top: -650px;
    padding-bottom: 60px;

  }

  .form__box--active {
    top: 0
  }

  .form__label {
    font-size: var(--font-size-desktop-medium);
  }

  .form__input {
    padding: 6px;
  }

  .form__input--textarea {
    height: 60px;
    resize: none
  }

  .form__input--button {
    margin-top: 20px;
    padding: 6px;
    font-size: var(--font-size-desktop-medium);
  }

  .form__errors {
    font-size: var(--font-size-desktop-small);
  }

  .button--add-task {
    width: 180px;
    right: 50px;
    top: 30px;
    font-size: var(--font-size-desktop-medium);
    border-radius: 20px;
  }

  .popup__message{
    font-size: var(--font-size-desktop-medium);
  }

  .popup__button {
    font-size: var(--font-size-desktop-medium);;
  }

  .dark_mode {
    left: 50px;
    top: 13px
  }
}